<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=League+Spartan">
  <link rel="stylesheet" href="/CSS/resultado.css">

  <title>Resultados de consulta</title>
</head>

<body>
  <div class="container">
    <!-- Flex container -->

    <div class="item-sam">
      <audio controls>
        <source src="SAM/Homero.wav" type="audio/wav">
      </audio>
      <div class="card">
        <h4>Voz</h4>
        <p>Homero Simpson</p>
      </div>
    </div>

    <div class="item-sam">
      <audio controls>
        <source src="SAM/Charlie Hello.mp3" type="audio/mpeg">
      </audio>
      <div class="card">
        <h4>Voz</h4>
        <p>Charlie The Unicorn</p>
      </div>
    </div>

    <div class="item-sam">
      <audio controls>
        <source src="SAM/Pulp Fiction 8-bit.mp3" type="audio/mpeg">
      </audio>
      <div class="card">
        <h4>8 Bit</h4>
        <p>Pulp Fiction OST</p>
      </div>
    </div>

    <div class="item-sam">
      <audio controls>
        <source src="SAM/LA pedal.mp3" type="audio/mpeg">
      </audio>
      <div class="card">
        <h4>Instrumental</h4>
        <p>Nota LA</p>
      </div>
    </div>

    <div class="item-sam">
      <audio controls>
        <source src="SAM/Piano.wav" type="audio/wav">
      </audio>
      <div class="card">
        <h4>Instrumental</h4>
        <p>Piano</p>
      </div>
    </div>
  </div>


</body>

</html>