<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=League+Spartan">
    <link rel="stylesheet" href="/CSS/formularios.css">
    <!--<link rel="stylesheet" href="/CSS/resultado.css">-->
    <script src="/JS/samples.js"></script>
    <script src="https://kit.fontawesome.com/90e1d5d566.js" crossorigin="anonymous"></script>
    <title>Formulario de samples</title>
</head>

<body onload="slider()">
    <header>
        <div class="header-logo"><a href="index.html"><img src="IMG/headphones-simple-solid-white.svg"
                    alt="Logo de sample.ar"></a></div>
        <nav class="header-nav">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/samples">Samples</a></li>
                <li><a href="/partituras">Partituras</a></li>
                <li><a href="/contacto">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <div>
        <form class="busqueda" method="get" action="/find-samples">
            <!--Formulario de búsqueda-->
            <h3 class="form-titulo">Buscador de samples</h3>
            <fieldset>
                <div class="content">

                    <div class="item">
                        <label for="genero">Género:</label>
                        <select name="genero" id="genero" class="opciones">
                            <option value="" selected>Todos</option>
                            {% for genero in generos %}
                            <option value="{{genero[0]}}">{{genero[1]}}</option>
                            {% endfor %}
                            
                        </select>
                    </div>

                    <div class="item">
                        <label for="instrumento">Instrumento:</label>
                        <select name="instrumento" id="instrumento" class="opciones">
                            <option value="" selected>Todos</option>
                            {% for instrumento in instrumentos %}
                            <option value="{{instrumento[0]}}">{{instrumento[1]}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="item">
                        <label for="bpm">BPM</label>
                        <input type="range" min="30" max="300" value="120" class="slider" id="bpm" name="bpm">
                        <span id="bpm-val" class="bpm"></span>
                        <div>
                            <label for="todos">Todos</label>
                            <input type="checkbox" name="todos" id="todos" onclick="noBpm()">
                        </div>
                    </div>

                    <input type="submit" value="Buscar">
                </div>

            </fieldset>
        </form>

        <!--Recuadro de resultados-->
        <div class="devolucion" id="resultados" src="">
            <div class="container">
            <!-- Flex container -->
            {% if resultado_samples is defined %} 
               
                {% for resultado in resultado_samples %}
                    <div class="item-sam">
                        <audio controls>
                            <source src="SAM/{{resultado[2]}}" type="audio/wav">
                        </audio>
                        <div class="card">
                        <h4>{{resultado[1]}}</h4>
                        <p>{{resultado[0]}}</p>
                        </div>
                    </div>
                {% endfor %}
                {% if resultado_samples |length ==0 %}
                    <div class="msj-error">
                        <h1>No hay resultados para esta búsqueda.</h1>
                        <img src="IMG/search.png" class="lupa">
                    </div>
                {% endif %}

            {% else %}
            {% endif %}
            </div>
        </div>
        
    </div>
</body>

<footer>
    <p>&copy; Sample.ar 2022</p>
    <a target="_blank" href="https://www.youtube.com"><i class="fa-brands fa-youtube"></i></a>
    <a target="_blank" href="https://www.facebook.com"><i class="fa-brands fa-facebook"></i></a>
    <a target="_blank" href="https://www.instagram.com"><i class="fa-brands fa-instagram"></i></a>
</footer>

</html>